@font-face {
    font-family: Caviar;
    src: url();
}
html{
    scroll-behavior: auto;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
}
.logo {
    position: absolute;
    padding-top: 11vw;
    padding-left: 13vw;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-size: 3vw;
    font-weight: 700;
    font-family: Poppins, Arial;
    white-space: pre-wrap;
    top: -10vw;
    transition: 0.5s;

}

ul{
    display: flex;
    margin-left: 40vw;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
li {
    padding-left:5vw;
    font-size:1.2vw;
    font-weight: 300vw;
    font-style: normal;
    font-family: Poppins, Arial;
    color: white;
    text-align: left;
}
nav{
    padding-top: 2vw;
    background-image: linear-gradient(gray, black);
    height: 10vw;
    transition: 0.5s;
}
.navbox{
    position: absolute;
    box-sizing: content-box;
    opacity: 1;
    background-color: rgba(255, 73, 0, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1px;
    width: 8vw;
    height: 8vw;
    top: 0vw;
    left: 38vw;
    transition: 0.5s;
}
.about-me {
    padding-left: 1.3vw;
    transform: translateY(3.2vw);
    transition: 0.5s;
}
.mywork {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: 0.2vw solid white;
    color: white;
    padding: 1.6vw 2.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 0.3vw 2vw;
    cursor: pointer;
    border-radius: 1vw;
    margin-left: 3vw;
    transition: 0.5s;
}
.cvdownload {
    background-color: white;
    padding: 1.6vw 0.5vw;
    border: 0.1vw solid white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2vw;
    margin: 0.2vw 2vw;
    cursor: pointer;
    border-radius: 1vw;
    margin-left: 10vw;
    transition: 0.5s;
}
.cvdownload a{
    color: black;
}
.hire-me{
    background-color: rgba(255, 73, 0, 1);
    color: white;
    padding: 1.5vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 1vw;
    margin: -1.5vw 5vw;
    transition: 0.5s;
}

.MrCentrico {
    position: absolute;
    text-align: left;
    letter-spacing: 0.1vw;
    color: rgba(255, 255, 255, 1);
    font-size: 2vw;
    font-weight: 7vw;
    font-family: Poppins, Arial;
    top: 20vw;
    left: 8vw;
    transition: 0.5s;
}
.headerdesc {
    text-align: left;
    letter-spacing: 0.1vw;
    color: rgba(255, 255, 255, 1);
    font-size: 1.5vw;
    margin-left: 8vw;
    font-weight: 100;
    margin-top: 16%;
    transition: 0.5s;
}
.muka{
    position: absolute;
    height: 54vw;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    margin-left: 60%;
    margin-top: -32vw;
}
.aboutme{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 3vw 2vw;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 250px 250px 0px 250px;
    border-radius: 12px;
    margin-left: 100px;
}
.aboutme .aboutme-title{
    text-decoration: underline;
    font-weight: 300;
    font-size: 3vw;
}
.aboutme p {
    font-weight: 300;
    line-height: 20px;
}

.myskills{
    text-align: center;
    text-decoration: underline;
    font-weight: 300;
    font-size: 3vw;
}
.myskills2{
    margin-left: 44.5vw;
    font-weight: 300;
    margin-top: 3vw;
    font-weight: 300;
    font-size: 20px;
}
.photoshopbar{
    background: linear-gradient(to right, white, rgba(255, 73, 0, 1)75%, gray 50%);
    width: 90%;
    height: 1.29vw;
    border: 1px solid #000;
    margin: 1vw 0;
    margin-top: 1vw;
}
.photographybar {
    background: linear-gradient(to right, white, rgba(255, 73, 0, 1)70%, gray 50%);
    width: 90%;
    height: 1.29vw;
    border: 1px solid #000;
    margin: 1vw 0;
    margin-top: 1vw;
}
.editingbar {
    background: linear-gradient(to right, white, rgba(255, 73, 0, 1)80%, gray 50%);
    width: 90%;
    height: 1.29vw;
    border: 1px solid #000;
    margin: 1vw 0;
    margin-top: 1vw;
}
.webdevelopingbar{
    background: linear-gradient(to right, white, rgba(255, 73, 0, 1)90%, gray 50%);
    width: 90%;
    height: 1.29vw;
    border: 1px solid #000;
    margin: 1vw 0;
    margin-top: 1vw;
}
.portfolio-title {
    text-align: center;
    text-decoration: underline;
    font-weight: 300;
    font-size: 3vw;
    margin-top: 5vw;
}
.img1 {
    height: 20vw;
    margin-left: 14.5vw;
    margin-top: 1vw;
}
.img2{
    margin-top: -19.8vw;
    margin-left: 51vw;
    height: 23vw;
}
.img3{
    margin-top: -2vw;
    margin-left: 14.5vw;
    height: 52vw;
}
.img4{
    margin-top: -48vw;
    margin-left: 51vw;
    height: 23vw;   
}
.img5{
    margin-top: -24vw;
    margin-left: 51vw;
    height: 19vw;
}
.line{
    border-left: 0.2vw solid white;
    height: 5vw;
    margin-left: 50vw;
    margin-top: 15vw;
}
.our-services{
    text-align: center;
    font-size: 1.5vw;
}
.our-services p{
    margin-left: 20vw;
    margin-right: 20vw;
    font-weight: 250;
    font-size: 1.2vw;
}

.services-button   {
    margin-left: 14vw;
}

.services1 button{
    border-radius: 1vw;
    font-size: 1.5vw;
    padding: 2.5vw 6vw;
    color: black;
    box-shadow: 0 0 6vw 0 rgba(157, 96, 212, 0.5);
    border: solid 0.25vw transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, white, rgba(255, 73, 0, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #111111 inset;
    
}

.first-column{
    display: flex;
    margin-top: 4vw;
}

.services2{
    padding-left: 3.2vw;
}
.services2 button{
    border-radius: 1vw;
    font-size: 1.5vw;
    padding: 2.5vw 9vw;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 0.25vw transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgba(255, 73, 0, 1), white);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #111111 inset;
}
.services3{
    padding-left: 3.2vw;
}
.services3 button{
    border-radius: 1vw;
    font-size: 1.5vw;
    padding: 2.5vw 6vw;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 0.25vw transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, white, rgba(255, 73, 0, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #111111 inset;
}
.second-column{
    display: flex;
    margin-top: 5vw;
}
.services4{
    margin-left: 3.2vw;
}
.services4 button{
    border-radius: 1vw;
    font-size: 1.5vw;
    padding: 2.5vw 9vw;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 0.25vw transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgba(255, 73, 0, 1), white);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #111111 inset;
    margin-left: -3.5vw;
}

.services5{
    padding-left: 3.2vw;
}
.services5 button{
    border-radius: 1vw;
    font-size: 1.5vw;
    padding: 2.5vw 7.2vw;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 0.25vw transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, white, rgba(255, 73, 0, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #111111 inset;
}
.services6{
    padding-left: 3.2vw;
}
.services6 button{
    border-radius: 1vw;
    font-size: 1.5vw;
    padding: 2.5vw 7vw;
    color: black;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 0.25vw transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, rgba(255, 73, 0, 1), white);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #111111 inset;
}

.view-all button{
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
    color: white;
    padding: 1.5vw 3vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 5vw;
    cursor: pointer;
    border-radius: 1vw;
    margin-right: 20vw;   
    margin-bottom: 10vw;
}   

.arrow{
    position: absolute;
    width: 1.5vw;
    fill: rgba(255, 73, 0, 1);
    margin-left: 3vw;
    margin-top: 0.3vw;
}
.services1 .arrow{
    margin-left: 3vw;
}
.services2 .arrow{
    margin-left:6vw;
}
.services3 .arrow{
    margin-left: 3vw;
}
.services4 .arrow{
    margin-left: 6vw;
}
.services5 .arrow{
    margin-left: 4.5vw;
}
.services6 .arrow{
    margin-left: 3vw;
}
.contact-mail{
    display: flex;
    margin-top: 10vw;
    margin-left: 13vw;
}

.dropaline{
    padding-left: 10vw;
}

.callme-img-text{
    margin-top: -1vw;
    padding-left: 1vw;
    display: flex;
    line-height: 1vw;
}
.title-number{
    font-weight: 100;
}
.callme img{
    height: 2vw;
    padding-top: 2vw;
    padding-right: 1vw;
}
.callme{
    background: black;
    border: 1vw solid black;
    border-radius: 10vw;
    width: 20vw;
    height: 4vw;
}
.email-img-text{
    margin-top: -1vw;
    padding-left: 1vw;
    display: flex;
    line-height: 1vw;
}
.email img{
    height: 1.5vw;
    padding-top: 2vw;
    padding-right: 1vw;
}
.email{
    background: black;
    border: 1vw solid black;
    border-radius: 10vw;
    width: 20vw;
    height: 4vw;
    margin-top: 1vw;
}
.title-email{
    font-weight: 100;
}
.address-img-text{
    margin-top: -1vw;
    padding-left: 1vw;
    display: flex;
    line-height: 1vw;
}
.address img {
    height: 1.7vw;
    padding-top: 2vw;
    padding-right: 1vw;
    filter: invert(1);
}
.address{
    background: black;
    border: 1vw solid black;
    border-radius: 10vw;
    width: 20vw;
    height: 4vw;
    margin-top: 1vw;
}
.address-title{
    font-weight: 100;
}
footer{
    background-image: linear-gradient(black 0%, gray 70%);
}
.dropaline input{
    background:black;
    padding: 2vw;
    padding-right: 8vw;
    margin-right: 2vw;
    color: white;
    margin-top: 2vw;
    border-radius: 1vw;
}
.dropaline select{
    background:black;
    padding: 2vw;
    padding-right: 14.6vw;
    margin-right: 2vw;
    color: gray;
    border-radius: 1vw;
}
.dropaline form .messageform{
    padding-right: 31vw;
    padding-bottom: 10vw;
}

.sosmed{
    display: flex;
}
.sosmedbar{
    background: rgba(255, 73, 0, 1);
    width: 50vw;
    height: 5vw;
    border-radius: 1vw;
    margin-left: -1vw;
    position: absolute;
}
.submit button{
    background: rgba(255, 73, 0, 1);
    border: 1vw solid rgba(255, 73, 0, 1);
    border-radius: 1vw;
    width: 10vw;
    height: 5vw;
    margin-top: 6.5vw;
    margin-left: 16vw;
    color: white;
    font-weight: 100;
    font-size: 1vw;
    cursor: pointer;
}
.findmeon h3{
    margin-left: 15vw;
    font-weight: 800;
    font-size: 2vw;
}
.copyright{
    margin-top: 3vw;
    font-weight: 100;
    padding-bottom: 1vw;
}
.sosmed-logo img{
    margin-top: 1.3vw;
    height: 2.5vw;
    margin-left: 2vw;
    position: relative;
}
.sosmed-logo{
    margin-left: 13vw;
}
.experience{
    position: absolute;
    margin-left: -38vw;
    margin-top: 1vw;
    height: 30vw;
}
.clapperboard{
    position: absolute;
    height: 10vw;
    margin-left: -40vw;
    z-index: 100;
    margin-top: 26vw;
}
